<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticProperties="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         failOnWarning="true"
         failOnNotice="true"
         cacheDirectory=".phpunit.cache"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Test suites">
            <directory suffix=".php">./tests/TestSuites</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix=".php">./tests/IntegrationSuites</directory>
        </testsuite>
    </testsuites>
</phpunit>
